<style>
    .nav-wrapper {
        background-color: rgb(248, 192, 87);
    }
</style>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="padding-left: 10px;"> <span class="material-icons">waving_hand</span> TEST-Company</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#1">Sayfa-1</a></li>
                <li><a href="#2">Sayfa-2</a></li>
                <li>
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger' href='#' data-target='dropdown1'>DropDown Çalışmıyor!!!!!!!!!!!!<i class="material-icons right">menu</i> </a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#!">three</a></li>
                        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>