<div class="navbar-fixed">

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="padding-left: 10px;"> <span class="material-icons">waving_hand</span> TEST-Company
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#1">Sayfa-1</a></li>
                <li><a href="#2">Sayfa-2</a></li>
                <li>
                    <!-- Dropdown Trigger -->
                    <a class='dropdown-trigger' href='#' data-target='dropdown-items'> Dropdown <i class="material-icons right">menu</i> </a>
                </li>
            </ul>
            <!-- Dropdown Structure -->
            <ul id='dropdown-items' class='dropdown-content blue-grey darken-3'>
                <li><a href="#1">one</a></li>
                <li><a href="#2">two</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="#3">three</a></li>
                <li><a href="#4"><i class="material-icons">view_module</i>four</a></li>
                <li><a href="#5"><i class="material-icons">cloud</i>five</a></li>
            </ul>
        </div>
    </nav>
</div>