<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s6">
                        <form #calisanForm="ngForm" (ngSubmit)="onSubmit(calisanForm)">
                            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="calisanServis.seciliCalisan._id">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="isim" #name="ngModel" [(ngModel)]="calisanServis.seciliCalisan.isim" placeholder="Adınızı Soyadınızı Yazınız." required>
                                    <label>Ad-Soyad
                                        <label class="red-text">*</label>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="pozisyon" #name="ngModel" [(ngModel)]="calisanServis.seciliCalisan.pozisyon" placeholder="Pozisyonunuzu Yazınız." required>
                                    <label>Pozisyon
                                        <label class="red-text">*</label>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="ofis" #name="ngModel" [(ngModel)]="calisanServis.seciliCalisan.ofis" placeholder="Ofisinizi Yazınız." required>
                                    <label>Ofis
                                        <label class="red-text">*</label>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="maas" #name="ngModel" [(ngModel)]="calisanServis.seciliCalisan.maas" placeholder="Maaşınızı Yazınız." required>
                                    <label>Maas
                                        <label class="red-text">*</label>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn btn-custom right" type="button" (click)="resetForm(calisanForm)">Sıfırla</button>
                                    <button class="btn btn-custom right" type="button" [disabled]="!calisanForm.valid" (click)="onSubmit(calisanForm)">Kaydet</button>
                                </div>
                            </div>
                        </form>


                    </div>
                    <div class="col s6">
                        <span class="card-title">BAŞLIK</span>


                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <th>İsim</th>
                                    <th>Pozisyon</th>
                                    <th>Ofis</th>
                                    <th>Maas</th>
                                </tr>
                            </thead>
                        </table>
                        <cdk-virtual-scroll-viewport itemSize="5">
                            <table>
                                <tbody>
                                    <tr *cdkVirtualFor="let i of calisanServis.calisanlar ">
                                        <td>{{i.isim}}</td>
                                        <td>{{i.pozisyon}}</td>
                                        <td>{{i.ofis}}</td>
                                        <td>{{i.maas}}</td>
                                        <td>
                                            <a class="action-btn" (click)="guncelleCalisan(i)">
                                                <i class="material-icons">edit</i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="action-btn" (click)="silCalisan(i._id,calisanForm)">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>